
html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: #34495e;
}

.images{
font-size: 25px;
 color:white;
 margin-left:300px ;
padding: 40px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 100%;
  background-color: rgb(238, 195, 4);
  position: fixed;
  top: 0px;
  z-index: 1;
  height: 50px;
}

.h2 {
  text-align: center;
  font-size: 25px;
  color: rgb(75, 75, 75);
  margin: 9px;
  padding: 0px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidenav {
  height: 100%;
  width: 300px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(241, 134, 11, 0.911);
 
  padding-top: 20px;
}

.sidenavLinks {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  display: inline;
  margin-top: 150px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  list-style-type: none;
  display: block;
  position: absolute;
  
  z-index: 1;
   
}

/*   
.sidenav a:hover {
  color: #f1f1f1;
}  */

#loginbutton{
  position: absolute;
  z-index: 2;
  height: 40px;
  width: 140px;
  font-size: medium;
  margin-left: 50px;
  /* background-color: rgb(238, 195, 4); */
  background-color: white;
 border: 1px solid black;
}

.img1{
  height: 300px;
  width: auto;
  position: absolute;
  z-index: 1;
  margin-left: 350px;
  
}
.main {
  margin-left: 160px; 
  font-size: 28px; 
  padding: 0px 10px;
}
/***************************** submit form *******************************/
#myForm {
  margin-left: 40%;
  margin-top: 0;
  margin-right: 0%;
  width: 390px;
  height: 200px;
  background-color: white;
  border-bottom: 1px solid #FFA500;
  border-bottom-width: 30px;
  padding-left: 0px;
}

#urlinput {
  margin-top: 30px;
  margin-left: 20px;
}

#submitbutton {
  margin-left: 10px;
}

#descriptionsubmit {
  margin-top: -40px;
  margin-left: 250px;
}

#descriptioninput {
  margin-top: 20px;
  margin-left: 10px;
}

#nameinput {
  margin-top: 0px;
  margin-left: 20px;
}

/******************************login form*****************************/
#loginbutton{
  height: 30px;
  width: 100px;
  background-color:rgb(235, 230, 220);
  font-size: medium;
  margin-left: 50px;
  margin-top: 0;
  border-radius: 5px;
  
  }
  #loginform{
    height: 200px;
    width: 350px;
    margin-top: 100px;
    margin: 0px auto;
    width: 390px;
    height: 140px;
    background-color: white;
    border-bottom: 1px solid #FFA500;
    border-bottom-width: 30px;
  }
   #loginSubmitBtn {
    
    margin-top: 30px;
    margin-left: 30px;
    
  } 

  #email { 
    margin-top: 20px; 
    margin-left: 15px;
  }
    
  #password { 
    margin-left: 15px;
  }

 

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
