body {
    margin: 0px;
    padding: 0px;
    background-color: #34495e;
}
.header {
    width: 100%;
    background-color: rgb(238, 195, 4);
    position: fixed;
    top: 0px;
    z-index: 1;
    height: 50px;
}

.h2 {
    text-align: center;
    font-size: 25px;
    color: rgb(75, 75, 75);
    margin: 9px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(241, 134, 11, 0.911);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    display: inline;
    text-align: center;
    margin-top: 150px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
  }
  /*
  .sidenav a:hover {
    color: #f1f1f1;
  } */
  
  .main {
    margin-left: 160px; 
    font-size: 28px; 
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  